<div data-bind="with: edit">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h5 class="panel-title">Details</h5>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td><h5>Title</h5></td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
                        </div>
                    </td>
                </tr>
            </table>
            <div class="pull-right"><button class="btn btn-primary">Edit</button></div>
        </div>
    </div>
</div>
