<div data-bind="with: edit">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h5 class="panel-title">Details</h5>
        </div>
        <div class="panel-body">            
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h5 class="panel-title">Coments</h5>
                </div>
                <div class="panel-body">
                    <div class="well">
                        <form>
                            <fieldset>
                                <legend>Add comment:</legend>
                                <div class="form-group">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <button class="btn btn-primary btn-sm">
                                    Add
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="well">Comment</div>
                </div>
            </div>
        </div>
    </div>
</div>
