<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading text-center">
                <h5 class="panel-title">Open</h5>
            </div>
            <div class="panel-body">
                <button class="btn btn-primary btn-block"
                        href="#create"
                        data-toggle="modal"
                        data-target=".bs-modal-create">
                    Add
                </button>
                <div class="well">
                    Task1
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h5 class="panel-title">InProgress</h5>
            </div>
            <div class="panel-body">
                <blockquote>
                    Task1
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h5 class="panel-title">Done</h5>
            </div>
            <div class="panel-body">
                <div class="well">
                    Task1
                </div>
            </div>
        </div>
    </div>
</div>
