<table class="table table-responsive">
    <tr>
        <th><button class="btn btn-default">Back</button></th>
        <th><span class="h4">Project Project Project Project Project Project</span></th>
    </tr>
</table>
<div class="row" data-bind="with: list">
    <div class="col-lg-4 col-md-4">
        <section class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title text-center">Open</div>
            </div>
            <div class="panel-body">
                <button class="btn btn-primary btn-block"
                        href="#create"
                        data-toggle="modal"
                        data-target=".bs-modal-create">
                    Add
                </button>
                <div class="dropzone list-group" data-bind="sortable: { data: open }">
                    <div class="well task" data-bind="event: { touchend: $parent.edit, click: $parent.edit }">
                        <div>
                            <span class="h5" data-bind="text: Title"></span>
                        </div>
                        <small><span class="pull-right" data-bind="text: date()"></span></small>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-4">
        <section class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title text-center">InProgress</div>
            </div>
            <div class="panel-body">
                <div class="dropzone list-group" data-bind="sortable: { data: inProgress }">
                    <div class="well task" data-bind="event: { touchend: $parent.edit }">
                        <div>
                            <span class="h5" data-bind="text: Title"></span>
                        </div>
                        <small><span class="pull-right" data-bind="text: date()"></span></small>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-4">
        <section class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title text-center">Done</div>
            </div>
            <div class="panel-body">
                <div class="dropzone list-group" data-bind="sortable: { data: done }">
                    <div class="well task" data-bind="event: { touchend: $parent.edit }">
                        <div>
                            <span class="h5" data-bind="text: Title"></span>
                        </div>
                        <small><span class="pull-right" data-bind="text: date()"></span></small>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
