.autosize {
    resize: none;
}

.dropzone {
    min-height: 50px;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.collapse-toggle {
    cursor: pointer;
    color: white;
}  

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}
