.autosize {
    resize: none;
}

.dropzone {
    min-height: 150px;
}

.task-column {
    min-height: 300px;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.collapse-toggle {
    cursor: pointer;
    color: white;
}  

.white {
    color: #fff;
}

.user {
    margin: 2px;
}