<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="app.js"></script>
</head>

<body>
    <div id="wrap">
        <header>
            <div class="navbar navbar-default">
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="main col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center">
                                    <h5 class="panel-title">Open</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="well">
                                        Task1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading text-center">
                                    <h5 class="panel-title">InProgress</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="well">
                                        Task1
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="panel panel-success">
                                <div class="panel-heading text-center">
                                    <h5 class="panel-title">Done</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="well">
                                        Task1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar col-lg-4">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h5 class="panel-title">Details</h5>
                            </div>
                            <div class="panel-body">
                                <form class="well">
                                    <fieldset>
                                        <legend>Edit task</legend>
                                        <div class="form-group">
                                            <label class="control-label">Title:</label>
                                            <input class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Description:</label>
                                            <textarea class="form-control"></textarea>
                                        </div>
                                        <input type="button" class="btn btn-primary btn-sm" value="Save">
                                    </fieldset>
                                </form>
                                <div class="panel panel-default">
                                    <div class="panel-heading text-center">
                                        <h5 class="panel-title">Coments</h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="well">
                                            <form>
                                                <legend>Add comment:</legend>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <textarea class="form-control"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary btn-sm">Add</button>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="well">Comment</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
>
